*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	text-decoration: none;
	color: red;
}

ul{
	float: right;
	padding-top: 25px;
}

li{
	display: inline;
	padding-right: 40px;

}




.left{
	float: left;
}

#wrap{
	margin: 0 auto;
	text-align: center;

}
/* --------------- */
#nheader{
	background-position: top;
	background-color: #fff4e4;
	padding: 35px;
	height: 100px;

}

/*h1{
	color: white;
	font-size: 80px;*/
}

img{
border-style: solid;
border-color:#fff4e4 ;
border-width: 2px;
}

#npara{
	background-attachment: fixed;
	background-image: url(images/kkk.jpg);
	padding-top: 30px;
	padding-bottom: 30px;
    background-color: black;
	height: 900px;
	padding: 30px;


}

/*#sideBar{
	height: 200px;
	padding-top: 133px;
	background-color: black;
	float: right;
	width: 30%;

}*/

/*#sideBarimg{
padding-top:  1px;
width: 200px;
}*/



#text_para_title{
	color: black;
	font-size: 30px;
	font-family: verdana;

}

.text_para{
	color: pink;	
	font-size: 60px;
	font-family: verdana;

}

#footer{
	background-color: #3c4245;
	padding: 50px;
	perspective-origin: 100px;
}

.text_para_footer{
	font-size: 35px;
	font-family: verdana;
	color: red;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-decoration-break:slice;  /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: horizontal; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}